<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body>
        
        <div class="prompt">
        <h1> Pixabay Search Results </h1>
        
        <form action="/results">
            
            Keyword: <input type="text" name="keyword">
            <select name="orientation">
                    <option value="horizontal">Horizontal</option>
                    <option value="vertical">Vertical</option>
                    </select>
            <button> Search! </button>
            
        </form>
        </div><br>
        
        <figure>
        <% randomIndex = Math.floor(Math.random() * images.hits.length); %>
        <figcaption>Likes: <%=images.hits[randomIndex].likes %></figcaption>
        <img src='<%= images.hits[randomIndex].largeImageURL %>'>
        <% randomIndex = Math.floor(Math.random() * images.hits.length); %>
        <figcaption>Likes: <%=images.hits[randomIndex].likes %></figcaption>
         <img src='<%= images.hits[randomIndex].largeImageURL %>'>
         <% randomIndex = Math.floor(Math.random() * images.hits.length); %>
         <figcaption>Likes: <%=images.hits[randomIndex].likes %></figcaption>
          <img src='<%= images.hits[randomIndex].largeImageURL %>'>
          <% randomIndex = Math.floor(Math.random() * images.hits.length); %>
          <figcaption>Likes: <%=images.hits[randomIndex].likes %></figcaption>
           <img src='<%= images.hits[randomIndex].largeImageURL %>'>
        </figure>
        

    </body>
</html>